/*Original: Matthias Dufner*/
/*Größen*/
.w0:before {
    content: ' \25CF';
    font-size: 10px;
}
.w1:before {
    content: ' \25CF';
    font-size: 40px;
}
.w2:before {
    content: ' \25CF';
    font-size: 80px;
}
.w3:before {
    content: ' \25CF';
    font-size: 160px;
    line-height: 100px;
}

.circle { height: 10px;}

/*Farben*/
.a1 {color: #E33143;}
.a2 {color: #F5892D;}
.a3 {color: #FFD34A;}
.a4 {color: #0DDB7A;}
.a5 {color: #09DE0C;}

.ui.table {
    width: auto !important;
}

.ui.table thead th {
    text-align: center;
}

.ui.table td {
    padding: .71428571em;
    text-align: center;
    vertical-align: middle;
    min-width: 120px;
    height: 120px;
}
