
/*Größen*/
.w0:before {
    content: ' \25CF';
    font-size: 10px;
}
.w1:before {
    content: ' \25CF';
    font-size: 40px;
}
.w2:before {
    content: ' \25CF';
    font-size: 80px;
}
.w3:before {
    content: ' \25CF';
    font-size: 160px;
    line-height: 100px;
}

.circle { height: 10px;}

/*Farben*/
.a1 {color: red;}
.a2 {color: orange;}
.a3 {color: yellow;}
.a4 {color: #9BDE09;}
.a5 {color: #09DE0C;}

.ui.table {
    width: auto !important;
}

.ui.table thead th {
    text-align: center;
}

.ui.table td {
    padding: .71428571em;
    text-align: center;
    vertical-align: middle;
    min-width: 120px;
    height: 120px;
    /*display: block;*/
}
/*Tabelle*/
/*table {max-width: 80%; margin: 100px auto;}
td {text-align: center; vertical-align: middle; max-width: 50px; max-height: 50px;}
td.text {text-align: left; vertical-align: middle; max-width: 200px;}
td {height: 120px;}
.header td, .count {
    font-size: 14px !important;
    letter-spacing: 1px;
}*/
