.meta {
    color: rgba(0, 0, 0, 0.6);
    margin-top: -15px;
}

.ui.modal {
    overflow: auto;
    width: 600px;
    height: 600px;
}

.positive {
    box-shadow: 0 0 0 #a3c293 inset;
    background: #fcfff5;
    color: #2c662d;
}

.ui.selection.dropdown {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

.ui.header:first-child#head {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 0px;
}

h2.ui.header#head {
    display: inline-block;
}

#information {
    float: right;
    margin-top: 20px;
}

.warning {
    background: #fff4e4!important;
    color: #493107!important;
}
