body {
    width: 100%;
    overflow-x: scroll;
}

.ui.table {
    width: 100%;
    display: inline-block;
    /*overflow-x: scroll;*/
}

.ui.header {
    display: inline-block;
    width: 80%;
}

.positive {
    box-shadow: 0 0 0 #a3c293 inset;
    background: #fcfff5;
    color: #2c662d;
}

.ui.massive.inverted.text.loader {
    min-width: 4.57142857rem;
    padding-top: 5.35714286rem;
}

.ui.massive.inverted.loader:after, .ui.massive.inverted.loader:before {
    width: 4.57142857rem;
    height: 4.57142857rem;
    margin: 0 0 0 -2.28571429rem;
}

.ui.toggle.checkbox {
    float: right;
    display: inline-block;
}

.ui.header {
    padding-left: 10px;
}

.ui.segments {
    float: right;
    display: inline-block;
}

#legend1, #legend2, #legend3, #legend4 {
    display: inline-block;
    align: center;
    text-align: center;
    line-height: 50px;
}
